.guess-form button {
  margin: 15px 0;
  /* background-color: #463edf; */
  background-color: rgb(204, 41, 82);
  padding: 0 16px;
  white-space: nowrap;
  font-weight: 700;
  line-height: 28px;
  min-height: 28px;
  border: 2px solid #4b4b4b;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  color: white;
  display: inline-block;
  font-size: 15px;
  height: auto;
  outline: none;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  width: auto;
  cursor: pointer;
}

.guess-form input {
  width: 250px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  color: rgb(88, 88, 88);
  padding: 3px;
}
