.ResultsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 300px;
  width: 250px;
  border: 1px solid black;
  margin: auto;
  border-radius: 5px;
  background-color: white;
}

.result {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  margin: 5px;
  padding: 2px;
}